.venv/
/.idea/.gitignore
/.idea/better-quizlet.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/app/WordSprint/.idea/.gitignore
/app/WordSprint/.idea/gradle.xml
/app/WordSprint/.idea/migrations.xml
/app/WordSprint/.idea/misc.xml
/app/WordSprint/.idea/vcs.xml
